.products {
    width: 350rem;
    max-width: 70%;
    margin: 2rem auto;
  }
  
  .products ul {
    margin-top: 63px;
    list-style: tibetan;
    /* margin: 2px; */
    margin-left: -132px;
    width: 128%;
    background-color: #ebebeb75;
  }
  
  .products li {
    padding: 1rem;
    margin: 2rem 0;
    height: 25px;
    /* border: 2px solid #ebebeb75;  */
    display: inline-table;
    margin-inline: 27px;
    padding: 40px;
    padding-inline-start: 43px;
    justify-content: space-between;
    align-items: center;
    /* background-color: #ebebeb75; */
  }

  .products li:hover {
    cursor: pointer;
    background-color:  #9bb1ff66;
    
  }


  
  
 

  
  /* button {
    background-color: #f3eebd;
    color: white;
    block-size: 26px;
    width: 24px;
    font-size: 19px;
  } */